@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting, world.
        <p>
            We are going to an exciting praty<br/>
        </p>
        @Html.ActionLink("RSVP Now", "RsvpForm");
    </div>
</body>
</html>
